In [1]:
import os

def get_all_xml_files_in_a_folder(folder_path):
  xml_files = []

  for root, dirs, files in os.walk(folder_path):
      for file in files:
          if file.endswith('.xml'):
              xml_files.append(os.path.join(root, file))

  return xml_files

In [2]:
import xml.etree.ElementTree as ET
import pandas as pd

def extract_data_from_xml(xml_file):
    individual_writings = pd.DataFrame(columns = ['Title', 'Date', 'Text', 'Info'])
    try:
        tree = ET.parse(xml_file)
        root = tree.getroot()

        for writing in root.findall('WRITING'):
          writing_title = writing.find('TITLE').text
          writing_date = writing.find('DATE').text
          writing_text = writing.find('TEXT').text
          writing_info = writing.find('INFO').text
          individual_writings = pd.concat([
              individual_writings,
              pd.DataFrame.from_dict({"Title": [writing_title], "Date": [writing_date], "Text": [writing_text], "Info": [writing_info] })
          ], ignore_index=True)

        train_subject_id = root.find('ID').text
        individual_writings['TrainSubjectId'] = train_subject_id

        return individual_writings
    except Exception as e:
        print(f"Error parsing {xml_file}: {str(e)}")
        return None

In [8]:
def extract_data_from_folder_and_save_to_pickle(folder_path):
  xml_files = get_all_xml_files_in_a_folder(folder_path)

  df = pd.DataFrame()

  for xml_file in xml_files:
    data_of_xml_file = extract_data_from_xml(xml_file)
    if data_of_xml_file is None:
      continue
    df = pd.concat([df, data_of_xml_file])

  #df.to_pickle(save_to_path)

  return df

In [23]:
HOME_DIR = "/home_remote"
test = extract_data_from_folder_and_save_to_pickle(os.path.join(HOME_DIR,"eRisk2018training/2017_test"))

In [11]:
test['text'] = test['Title'] + test['Text']

In [21]:
testtest['TrainSubjectId'] = 'test_subject_9766'

In [20]:
#check if column text has any null values
test[test['text'].isnull()]

Empty DataFrame
Columns: [Title, Date, Text, Info, TrainSubjectId, text]
Index: []

In [22]:
test

,Title,Date,Text,Info,TrainSubjectId,text
0,,2015-07-13 19:57:15,Gave me chills.,reddit post,test_subject_9766,Gave me chills.
1,,2015-07-01 06:02:05,The cost to society of keeping the worst crim...,reddit post,test_subject_9766,The cost to society of keeping the worst c...
2,,2015-06-26 06:05:01,Alcohol.,reddit post,test_subject_9766,Alcohol.
3,,2015-06-26 05:07:57,This is why I try to stay off the grid as muc...,reddit post,test_subject_9766,This is why I try to stay off the grid as ...
4,,2015-06-26 04:14:04,"""Something about ships/boats submerged in wat...",reddit post,test_subject_9766,"""Something about ships/boats submerged in ..."
...,...,...,...,...,...,...
117,GTSiM sexy body,2015-03-13 17:37:48,,reddit post,test_subject_9766,GTSiM sexy body
118,GTSiM sexy blonde in red panties,2015-03-13 17:37:10,,reddit post,test_subject_9766,GTSiM sexy blonde in red panties
119,Showing off her bikini,2015-03-13 17:36:36,,reddit post,test_subject_9766,Showing off her bikini
120,In black,2015-03-13 17:36:13,,reddit post,test_subject_9766,In black
121,Selfie,2015-03-13 17:35:45,,reddit post,test_subject_9766,Selfie